@{
    ViewBag.Title = "Home Page";
}

        <div  id="grid" class="ship-grid-container">
            @Html.Action("RenderGrid", "ShipTracking")
        </div>
<div class="ship-control-panel-container">
    @Html.Action("RenderMoveShips", "ShipTracking")
</div>