@model AddShipModel


    <div class="col-md-4">
        <div class="row">
            <div id="add-ship-errors" class="alert alert-dismissable alert-danger" style="display:none;">
            </div>
        </div>
        <h3>Add ship</h3>
        <form id="form-add-ship">
            <div class="row">
                <label>Orientation</label>
                <select name="Direction">
                    <option value="North">North</option>
                    <option value="East">East</option>
                    <option value="South">South</option>
                    <option value="West">West</option>
                </select>
            </div>
            <div class="row">
                <label>X</label>
                <input type="text" name="Position.X" />
            </div>
            <div class="row">
                <label>Y</label>
                <input type="text" name="Position.Y" />
            </div>
            <div class="row">
                <button type="button" id="btn-add-ship" class="btn btn-default">Add ship</button>
            </div>
        </form>
    </div>
