@model GridModel
@{
    var x = Model.Dimensions.X;
    var y = Model.Dimensions.Y;
}

@functions{

    bool PositionHasShips(int x, int y)
    {
        return Model.Ships.Where(ship => ship.Position.X == x && ship.Position.Y == y && !ship.Lost).Any();
    }

    IEnumerable<ShipModel> GetShipsInformation(int x, int y)
    {
        var ships = Model.Ships.Where(ship => ship.Position.X == x && ship.Position.Y == y && !ship.Lost);
        return ships;
    }

}

@* quick bodge for layout *@
<br />
<br />
<br />
<br />
<div class="row">
    @for (var i = x; i > 0; i--)
    {
        <div class="shipping-grid-row">
            @for (var j = 1; j <= x; j++)
            {
                <div class="shipping-grid-square">
                    <small>
                        @j, @i
                    </small>
                    @if (PositionHasShips(j, i))
                    {
                        var shipsInPosition = GetShipsInformation(j, i);
                        foreach (var ship in shipsInPosition)
                        {
                            <p>
                                Ship ID: @ship.Id <br />
                                Orientation: @ship.Orientation
                            </p>
                        }
                    }
                </div>
            }
        </div>
    }
</div>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .shipping-grid-row {
        display: flex;
    }

    .shipping-grid-col {
        flex: 1;
        margin: 0 1rem;
        border: 1px solid black;
    }

    .shipping-grid-square {
        flex: 1;
        border: 1px solid black;
        height: 100px;
        width: 50px;
        overflow:scroll;
    }

    .square:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
</style>